<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% load static %}
   <link rel="stylesheet" href="{% static 'styles.css' %}">
   <title>Author Info</title>
</head>
<body>
   <div id="container">
      <h2>{{author.fname}} {{author.lname}}</h2>
      <p>ID: {{author.id}}</p>
      <p>Notes: {{author.notes}}</p>
      <p>Book(s):</p>
      <ul>
         {% for book in author.books.all %}
         <li>{{book.title}}</li>
         {% endfor %}
      </ul>

      <form action="/addbook/{{author.id}}" method="POST">
         {% csrf_token %}
         <h5>Add book to this author:</h5>
         <select name="sel_book">
            <option hidden>select a book</option>
            {% for book in AvailList %}
               <option value={{book.id}}>{{book.title}}</option>
            {% endfor %}
         </select>
         <input type="Submit" value="Add">   
      </form>
      
   </div>
</body>
</html>